/* Chat */

.chat {
    width: 450px;
}

.chat .windowContent {
    background-color: rgb(27, 27, 27);
}

.chat .content {
    overflow: scroll;
    text-align: left;
    padding: 10px;
    font-size: 14px;
}

.chatMessages {
    background-color: rgb(43, 43, 43);
    height: 200px;
}

.chat .content p {
    color: rgb(226, 226, 226);
    margin: 0px;
    white-space: pre-line;
    line-height: 1.5;
}

.chat textarea {
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
    overflow: scroll;
    width: 97%;
    font-size: 14px;
    padding: 5px;
}

.chat .send,
.chat .emojiBtn,
.chat .set {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 42px;
    width: 100%;
    font-size: 16px;
}

.chat controlls {
    height: 50px;
}

.chat input {
    width: 70%;
    text-align: center;
    font-size: 14px;
    height: 42px;
}

.chat .content .info {
    text-align: center;
    margin-bottom: 5px;
}

.chat .set,
.chat input {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 0px;
}

.chat ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}

.chat li {
    display: inline;
    margin: 5px;
}

.emojiToggle {
    display: none;
}

.chat button:disabled {
    background-color: rgb(170, 170, 170);
}

.chat li a {
    font-size: 20px;
}
