/* Window */

.window {
    background-color: rgb(255, 255, 255);
    color: rgb(44, 44, 44);
    border-radius: 5px;
    position: absolute;
    box-shadow: 4px 6px 24px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
    z-index: 200;
}

.window:focus {
    outline: none;
}

.windowMinimize {
    display: none;
}

.windowDrag {
    opacity: 0.3;
}

.windowHeader {
    width: 100%;
    height: 30px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 1px solid rgb(136, 136, 136);
    background: linear-gradient(#e0e0e0, #bababa);
    position: relative;
}

.windowHeader img {
    padding-top: 2.5px;
    width: 25px;
    height: 25px;
}

.windowHeader p,
.close,
.minimize,
.windowHeader img {
    display: inline-block;
}

.close,
.minimize {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    display: inline-block;
    margin-left: 5px;
}

.windowHeader .buttons {
    vertical-align: top;
    position: absolute;
    height: 100%;
    padding-top: 6.5px;
}

.windowHeader .center {
    height: 100%;
}

.windowHeader p {
    margin: 0px;
    vertical-align: top;
    padding-top: 8px;
}

.close {
    background-color: rgb(255, 47, 0);
    margin-left: 15px;
}

.minimize {
    background-color: rgb(255, 208, 0);
}

.close:hover,
.minimize:hover {
    opacity: 0.7;
}

.windowContent {
    padding: 10px;
}