/* Global */

body {
    background-image: url('/image/wallpapers/bg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.loading {
    border: 16px solid rgb(226, 226, 226);
    border-top: 16px solid #56B9D0;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 0.5s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

select {
    background-color: rgb(255, 255, 255);
}