/* Memory */

.memory {
    width: 340px;
}

.memory .windowContent {
    background-color: #FEFEFE;
}

.memory .content img:hover {
    opacity: 0.7
}

.memory .controlls {
    margin-bottom: 10px;
}

.memory .controlls .change,
.memory .reset,
.memory .startGame {
    border-radius: 0px;
    background-color: #F24C27;
    padding: 10px;
    color: #FEFEFE;
    font-size: 14px;
}

.memory .controlls select {
    -webkit-appearance: none;
    border-radius: 0px;
    background-color: #FBBA42;
    padding: 10px;
    color: rgb(41, 41, 41);
    font-size: 14px;
    height: 39px;
}

.memory .controlls .change:focus,
.memory .controlls select:focus,
.memory .startGame:focus {
    outline: none;
    outline: 2px solid rgb(201, 201, 201);
}

.memory h2 {
    margin: 0px;
}

.memory ol {
    list-style: none;
    padding: 0px;
}

.memory input {
    width: 70%;
    text-align: center;
    font-size: 14px;
    height: 35px;
    background-color: #FEFEFE;
    margin-bottom: 10px;
}

.memory input:focus {
    outline: none;
    outline: 2px solid #FBBA42;
}

.memory .content .startGame:disabled {
    background-color: rgb(170, 170, 170);
}