/* PhotoBooth */

.photoBooth {
    width: 640px;
}

.photoBooth .windowContent {
    padding: 0px;
    background-color: rgb(41, 41, 41);
}

.photoBooth .taken {
    display: none;
}

.photoBooth .content img {
    padding: 4px;
}

.photoBooth .content img:hover {
    opacity: 0.7
}

.photoBooth .retry {
    margin-bottom: 15px;
}