/* PhotoBooth */

.photoBooth {
    width: 640px;
}

.photoBooth .windowContent {
    padding: 0px;
    background-color: rgb(41, 41, 41);
}

.photoBooth .photoToggle {
    display: none;
}

.photoBooth .content img {
    padding: 4px;
}

.photoBooth .content img:hover {
    opacity: 0.7
}

.photoBooth .retry {
    margin-bottom: 15px;
}

.photoBooth .content h1,
.photoBooth .content h2,
.photoBooth .content p {
    color: #FEFEFE;
}

.photoBooth .content h1 {
    padding-top: 10px;
    margin-top: 0px;
}

.photoBooth .content p {
    padding-bottom: 10px;
    padding: 5px;
    margin-bottom: 0px;
}