/* Global */

body {
    background-image: url('/image/wallpapers/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;  
    position: center;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.window:focus {
    z-index: 100;
}

/* Window */

.window {
    background-color: rgb(255, 255, 255);
    color: rgb(44, 44, 44);
    border-radius: 5px;
    position: absolute;
    box-shadow: 4px 6px 24px 0px rgba(0,0,0,0.75);
}

.windowMinimize {
    display: none;
}

.windowDrag {
    opacity: 0.3;
}

#windowHeader {
    height: 30px;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 1px solid rgb(136, 136, 136);
    background: linear-gradient(#e0e0e0, #bababa);
}

#close, #minimize {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    text-indent: -9999px;
    float: left;
    margin-left: 15px;
    margin-top: 6.5px;
    margin-bottom: 6.5px;
}

#close {
    background-color: rgb(255, 47, 0);
}

#minimize {
    background-color: rgb(255, 208, 0);
}

#close:hover, #minimize:hover {
    opacity: 0.7;
}

#windowContent {
    margin: 0 auto;
    padding: 10px;
}

/* Memory */

.memory {
    width: 314px;
    text-align: center;
}

.memory img {
    width: 70px;
}

.memory #controlls {
    margin-bottom: 10px;
}