/* Global */

body {
    background-image: url('/image/wallpapers/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;  
    position: center;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

/* Window */

.window {
    background-color: rgb(255, 255, 255);
    color: rgb(44, 44, 44);
    border-radius: 5px;
    position: absolute;
}

.windowDrag {
    opacity: 0.3;
}

#windowHeader {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 1px solid rgb(136, 136, 136);
    background: linear-gradient(#e0e0e0, #bababa);
}

#windowHeader p {
    display: inline-block;
    font-size: 14px;
    padding: 5px;
    margin: 0px;
    text-align: center;
}

#windowHeader img {
    width: 25px;
    padding: 3px;
    vertical-align: middle;
}

#windowContent {
    margin: 0 auto;
    padding: 10px;
}

/* Memory */

.memory {
    width: 314px;
    text-align: center;
}

.memory #content {
    clear: both;
}

.memory img {
    width: 70px;
}

.memory #controlls {
    margin-bottom: 10px;
}