/* Global */

body {
    background-image: url('/image/wallpapers/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.loading {
    border: 16px solid rgb(226, 226, 226);
    border-top: 16px solid rgb(0, 153, 224);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 0.5s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

select {
    background-color: rgb(255, 255, 255);
}


/* Window */

.window {
    background-color: rgb(255, 255, 255);
    color: rgb(44, 44, 44);
    border-radius: 5px;
    position: absolute;
    box-shadow: 4px 6px 24px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
    z-index: 200;
}

.window:focus {
    outline: none;
}

.windowMinimize {
    display: none;
}

.windowDrag {
    opacity: 0.3;
}

.windowHeader {
    width: 100%;
    height: 30px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 1px solid rgb(136, 136, 136);
    background: linear-gradient(#e0e0e0, #bababa);
    position: relative;
}

.windowHeader img {
    padding-top: 2.5px;
    width: 25px;
    height: 25px;
}

.windowHeader p,
.close,
.minimize,
.windowHeader img {
    display: inline-block;
}

.close,
.minimize {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    text-indent: -9999px;
    display: inline-block;
    margin-left: 5px;
}

.windowHeader .buttons {
    vertical-align: top;
    position: absolute;
    height: 100%;
    padding-top: 6.5px;
}

.windowHeader .center {
    height: 100%;
}

.windowHeader p {
    margin: 0px;
    vertical-align: top;
    padding-top: 8px;
}

.close {
    background-color: rgb(255, 47, 0);
    margin-left: 15px;
}

.minimize {
    background-color: rgb(255, 208, 0);
}

.close:hover,
.minimize:hover {
    opacity: 0.7;
}

.windowContent {
    padding: 10px;
}


/* Memory */

.memory {
    width: 314px;
}

.memory .controlls {
    margin-bottom: 10px;
}

.memory h2 {
    margin: 0px;
}

/* Settings */

.settings {
    width: 365px;
}

.settings .content img {
    width: 345px;
    height: 200px;
}

.settings .content a:hover {
    opacity: 0.7;
}


/* Chat */

.chat {
    width: 450px;
}

.chat .windowContent {
    background-color: rgb(27, 27, 27);
}

.chat .content {
    overflow: scroll;
    text-align: left;
    padding: 10px;
    font-size: 14px;
}

.chatMessages {
    background-color: rgb(43, 43, 43);
    height: 200px;
}

.chat .content p {
    color: rgb(226, 226, 226);
    margin: 0px;
    white-space: pre-line;
    line-height: 1.5;
}

.chat textarea {
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
    overflow: scroll;
    width: 97%;
    font-size: 14px;
    padding: 5px;
}

.chat .send,
.chat .emojiBtn,
.chat .set {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 42px;
    width: 100%;
    font-size: 16px;
}

.chat controlls {
    height: 50px;
}

.chat input {
    width: 70%;
    text-align: center;
    font-size: 14px;
    height: 42px;
}

.chat .content .info {
    text-align: center;
    margin-bottom: 5px;
}

.chat .set,
.chat input {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 0px;
}

.chat ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}

.chat li {
    display: inline;
    margin: 5px;
}

.emojiToggle {
    display: none;
}

.chat button:disabled {
    background-color: rgb(170, 170, 170);
}

.chat li a {
    font-size: 20px;
}


/* Weather */

.weather {
    width: 850px;
    background: linear-gradient(rgb(49, 117, 161), rgb(6, 83, 146))
}

.weather .content {
    color: rgb(255, 255, 255);
    padding: 0px;
    display: table;
    margin: 0 auto;
}

.weather .day {
    display: table-cell;
    padding: 15px;
    text-align: center;
}

.weather .content h1,
.weather .content h2,
.weather .content p,
.weather .content img {
    margin: 0px;
}

.weather .content h1 {
    font-size: 60px;
}

.weather .content h2 {
    font-size: 30px;
}

.weather .content p {
    font-size: 20px;
}

.weather .controlls {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* PhotoBooth */

.photoBooth {
    width: 500px;
}

.photoBooth .taken {
    display: none;
}

.photoBooth .thumb img {
    width: 60px;
}

.photoBooth .filterImg {
    display: none;
}
