/* Weather */

.weather {
    width: 900px;
    background: linear-gradient(rgb(49, 117, 161), rgb(6, 83, 146))
}

.weather .content {
    color: rgb(255, 255, 255);
    padding: 0px;
    display: table;
    margin: 0 auto;
}

.weather .day {
    display: table-cell;
    padding: 15px;
    text-align: center;
}

.weather .content h1,
.weather .content h2,
.weather .content p,
.weather .content img {
    margin: 0px;
}

.weather .content h1 {
    font-size: 60px;
}

.weather .content h2 {
    font-size: 30px;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
}

.weather .content p {
    font-size: 20px;
}

.weather .controlls {
    padding-top: 10px;
    padding-bottom: 10px;
}

.weather .controlls button {
    border-radius: 0px;
    background-color: rgb(255, 196, 0);
    padding: 10px;
    color: rgb(41, 41, 41);
    font-size: 14px;
}

.weather .controlls button:focus,
.weather .controlls select:focus {
    outline: none;
    border: 1px solid rgb(255, 255, 255);
}

.weather .controlls select {
    -webkit-appearance: none;
    border-radius: 0px;
    background-color: rgb(255, 196, 0);
    padding: 10px;
    color: rgb(41, 41, 41);
    font-size: 14px;
    height: 39px;
}